.App {
  text-align: center;
  width: 100%;
}

.fb-page span iframe body ._2p3a {
  width: 800px !important;
}

.fb-page {
  width: 800px !important;
}

.fb-page span {
  width: 800px !important;
}

.fb-page span iframe{
  width: 800px !important;
}

._6k_ _4-eo _5dec _1ktf {
  width: 800px !important;
}

.fb-page span iframe body * {
  width: 800px !important;
}